name: liquid_glass_components_example
description: Example app demonstrating Liquid Glass Components
publish_to: 'none'

version: 1.0.1+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  liquid_glass_components:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

